#gamingscreen {
  height: 90vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.47);
  overflow: auto;
}
#gamingscreen div {
  width: 100vw;
  height: 100px;
  color: white;
  transition: all 0.5s ease-in-out;
}
.carimages {
  height: 100px;
  animation: movement linear infinite;
  /* animation-duration: 5s; */
}
#gamingscreen div:nth-child(even) {
  background-image: url("../Images/grass1.jpg");
}
#gamingscreen div:nth-child(odd) {
  background-image: url("../Images/road2.jpg");
}

#gamingscreen::-webkit-scrollbar {
  display: none;
}
body {
  margin: 0;
  padding: 0;
}
#console {
  height: 10vh;
  width: 100vw;
  background-color: black;
  display: flex;
  position: fixed;
  bottom: 0;
  align-items: center;
  justify-content: center;
}
#console button {
  height: 6vh;
  width: 10vw;
  min-width: max-content;
  font-family: Georgia, serif;
  font-size: medium;
  letter-spacing: 0.2vw;
  background-color: aquamarine;
}
@keyframes movement{
    0%{
        transform: translateX(120vw);
    }
    100%{
        transform: translateX(-40vw);
    }
}