body {
  background-color: #071111;
}
.heading {
  display: flex;
}
h1 {
  text-align: center;
  position: relative;
  color: rgba(111, 107, 107, 0.804);
  left: 500px;
  font-weight: 400;
  margin: 20vh 0vh 10vh 0;
  padding: 0;
  letter-spacing: 0.5vh;
  font-size: 4.2em;
  text-shadow: 4px 4px #2c6565bf;
}
/* --------------animations-------------- */
.Vehicle {
  height: 10vh;
  width: 20vh;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  position: absolute;
}

@keyframes V1 {
  0% {
    left: 10px;
    top: 100px;
  }
  100% {
    left: 1500px;
    top: 100px;
  }
}

#V1 {
  left: 100px;
  animation-name: V1;
}
@keyframes V2 {
  0% {
    left: 100px;
    top: 100px;
  }
  50% {
    left: px;
    top: 100px;
  }
  75% {
    left: 980px;
    top: 100px;
  }

  100% {
    left: 1600px;
    top: 100px;
  }
}
#V2 {
  animation-name: V2;
}
@keyframes V3 {
  0% {
    left: 100px;
    top: 100px;
  }
  50% {
    left: px;
    top: 100px;
  }
  75% {
    left: 980px;
    top: 100px;
  }

  100% {
    left: 1600px;
    top: 100px;
  }
}
#V3 {
  animation-name: V3;
}
#V4 {
  animation-name: V4;
}

/* -----------------character---------------------- */
.character {
  height: 20vh;
  width: 25vh;
  background-color: #2c6565bf;
  padding: 5vh 5vh 5vh 5vh;
  border-radius: 80px;
  box-shadow: 2px 5px rgba(255, 255, 255, 0.231);
  left: 700px;
}
#character-card {
  display: flex;
  justify-content: center;
  gap: 30vh;
}
