body {
  background-color: #071111;
}

h1 {
  color: rgba(176, 171, 171);
  text-align: center;
  margin: auto;
  text-decoration: underline;
  letter-spacing: 0.5vw;
  font-size: 4rem;
  text-shadow: 2px 2px 4px #419a9abf;
  animation: text-animation 4s linear infinite;
}
/* --------------animations-------------- */
@keyframes text-animation {
  0%{
    color: #4f636e;
  }
  50%{
    color: #f0fff0;
  }
  100%{
    color: #4f636e;
  }
}

/* -----------------character---------------------- */
.character {
  height: 15vh;
  width: 20vh;
  background-color: #2c656586;
  padding: 5vh;
  border-radius: 70px;
  box-shadow: 2px 5px rgba(241, 235, 235, 0.45);
  left: 700px;
}
div{
  display: flex;
  margin-top: 20%;
  align-items:center;
  justify-content:space-evenly;
}
button{
  border-radius: 70px;

}
button:hover {
  background-color: #81a8a8a1;
  box-shadow: 2px 5px rgba(241, 235, 235, 0.45);
}
