body {
  background-color: #181818;
}

h1 {
  color: rgba(176, 171, 171);
  text-align: center;
  width: 60vw;
  margin: auto;
  letter-spacing: 0.5vw;
  font-size: 4rem;
  text-shadow: 0px 0px 10px #bbbbbbbf, 0px 0px 5px #3f70dabf;
  animation: text-animation 4s linear infinite;
}
/* --------------animations-------------- */
@keyframes text-animation {
  0%{
    transform: rotateY('180deg');
    color: #4f636e;
    transform:translateX(0px);
    opacity: 0;
  }
  2%{
    opacity: 1;
  }
  5%{
    opacity: 0;
  }
  7%{
    opacity: 1;
  }
  25%{
    transform:translateX(10px);
  }
  50%{
    transform:translateX(0px);
    color: #f0fff0;
  }
  75%{
    transform:translateX(-10px);
  }
  100%{
    transform:translateX(0px);
    color: #4f636e;
  }
}

div{
  display: flex;
  /* background-color: #4f636e; */
  flex-direction: column;
  margin-top:20vh;
  align-items:center;
  justify-content:space-evenly;
}
a{
  font-size: 3rem;
  color: #f0fff0;
  padding: 1rem;
  text-decoration: none;
  box-shadow: 2px 5px 4px rgb(123, 142, 123),-2px 5px 4px rgb(123, 123, 123);
  border-radius: 16% 0% 16% 0% / 100% 0% 100% 0% ;
  width: 350px;
  text-align: center;
  text-transform: uppercase;
}
a:hover ,a::after{
  background-color:#343434b7 ;
  /* box-shadow: 2px 0px rgba(241, 235, 235, 0.45); */
  scale: 1.2;
  animation: swa 1s ease-out;
}
@keyframes swa {
  0%{
    box-shadow: 2px 5px 4px rgb(123, 142, 123),-2px 5px 4px rgb(123, 123, 123);
  }
  100%{
    box-shadow: 200vw 5px 4px rgb(128, 139, 128),-200vw 5px 4px rgb(87, 87, 87);
  } 
}